@font-face {
    font-family: 'Futura Medium';
    src: url('./assets/fonts/FUTURA65MEDIUM.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Futura Medium', sans-serif;

}

.brand-logo {
    height: 100px;
    width: 300px;
}
.centered {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    margin-top: -100px;
}

li {
    font-size: larger
}
.coming-soon {
    max-width: 600px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    
  }
  .social-icons a {
    margin: 0 10px;
    color: #555;
    font-size: 1.5rem;
    transition: color 0.3s;
  }
  .social-icons a:hover {
    color: #000;
  }